spring:
  application:
    name: gateway-service  # Identify this application
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: https://www.googleapis.com/oauth2/v3/certs
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - TokenRelay
          routes:
              # Identify this route
            - id: accounts-service
              # Find the service named 'accounts-service' in Eureka and forward
              # requests to one of its instances
              uri: lb://accounts-service
              # Requests whose path starts with /accounts/ will be routed to
              # the accounts-service
              predicates:
                - Path=/accounts/**
              # Identify this route
            - id: web-service
              # Find the service named 'web-service' in Eureka and forward
              # requests to one of its instances
              uri: lb://web-service
              # Requests whose path starts with /web/ will be routed to
              # the web-service
              predicates:
                - Path=/web/**
              # Strip /web/ from the path when routing requests
              filters:
                - StripPrefix=1

# HTTP Server
server:
  port: 1111   # HTTP (Tomcat) port

management:
  info:
    env:
      enabled: true
  endpoint:
    health:
      access: unrestricted
    info:
      access: unrestricted
  endpoints:
    web:
      exposure:
        include: "*"

# Application info
info:
  app:
    name: Microservices Demo - Gateway Server
    description: This is a Microservices Gateway
    version: 1.0.0